<h1> Judges </h1>
<h4> <%= link_to "[New Judge]", "/judges/new"%> </h4>
<table class='table table-striped'>
  <thead>
    <tr>
      <th width="4%"></th>
      <th width="23%">Judge</th>
      <th width="7%">Fights Judged</th>
      <th width="15%">Deviation</th>
    </tr>
  <tbody>
    <% @judges.each do |judge|%>
      <tr>
        <td>
          <%= link_to "Select", "/judges/#{judge.id}" %>
          <%= link_to "Delete", "/judges/#{judge.id}", :method => "delete" %>
        </td>
        <td>
          <%# Judge%>
          <%= link_to judge.name, "/judges/#{judge.id}"%>
        </td>
        <td>
          <%# Fights Judged%>
          <%= judge.fightcount %>
        </td>
        <td>
          <%# Deviation%>
          <%= %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

