<div class="Judge">
  <h1><%= @judge.name%>  </h1>
  <% if session[:user_id] %>
    <h4><%= link_to "[Edit]", "/judges/#{@judge.id}/edit" %> </h4>
  <% else %>
    <h4><a href="/sessions/new">Sign In</a>/<a href="users/new">Sign Up</a> to Edit</h4>
  <% end %>
<table class='table table-striped'>
  <thead>
    <tr>
      <th width="4%"></th>
      <th width="30%">Fight</th>
      <th width="10%">Weightclass</th>
      <th width="4%">Title</th>
      <th width="13%">Winner</th>
      <th width="20%">Scored Winner</th>
      <th width="10%"> Score Deviation</th>
      <th width="4%"></th>
    </tr>
  </thead>  
  <tbody>
    <% @judge.judgescores.each do |js|%>
      <% fight = js.scorecard.fight%>
      <tr>
        <td>
          <a class="btn btn-xs btn-primary pull-left" href="/fights/<%=fight.id%>">Select</a>
        </td>
        <td>
          <%# Fight%>
          <%= link_to fight.fighter_1.name, "/fighters/#{fight.fighter_1.id}"%> vs. <%= link_to fight.fighter_2.name, "/fighters/#{fight.fighter_2.id}"%>
        </td>
        <td>
          <%# Weightclass%>
          <%= fight.weightclass.name%>
        </td>
        <td>
          <%# Championship%>
          <%= fight.championship %>
        </td>
        <td>
          <%# Winner%>
          <%= fight.fighter_1.name%>
        </td>
        <td>
          <%# Scored Winner%>
          <%=  js.winner%>
        </td>
        <td>
          <%# score deviation%>
          <%= %>
        </td>
        <td>
          <% if session[:user_id] %>
            <!--<a class="btn btn-xs btn-primary pull-left" data-method="delete" href="/fights/<%#=fight.id%>">Delete</a>-->
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

