<h1> Fightcards </h1>
<h4> <%= link_to "[New Fightcard]", "/fightcards/new"%> </h4>
<table class='table table-striped'>
  <thead>
    <tr>
      <th width="5%"></th>
      <th width="10%">Promotion</th>
      <th width="37%">Event Name</th>
      <th width="8%">Date</th>
      <th width="15%">Location</th>
      <th width="25%">Headliner</th>
    </tr>
  <tbody>
    <% @fightcards.each do |fc|%>
      <tr>
        <td>
          <!--<a class="btn" href="/fightcards/<%=fc.id%>">Select</button>-->
          <%= link_to "Select", "/fightcards/#{fc.id}" %>
          <%= link_to "Delete", "/fightcards/#{fc.id}", :method => "delete" %>
          <!--<a class="btn"><%= link_to "Delete", "/fightcards/#{fc.id}", :method => "delete" %></button>-->
        </td>
        <td>
          <%# Promotion%>
          <%= fc.promotion%>
        </td>
        <td>
          <%# Event Name%>
          <%= link_to fc.name, "/fightcards/#{fc.id}"%>
        </td>
        <td>
          <%# Date%>
            <%= fc.date%>
        </td>
        <td>
          <%# Location%>
          <%= fc.city%>, <%= fc.state%>, <%=fc.country%>
        </td>
        <td>
          <%# Headliner%>
          <%= fc.headliner%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

