<h1> Enter New Fight </h1>

<%= form_tag "/fights/" do%>
  <div>
    <label> Fightcard </label>
    <select name="fightcard_id">
      <% Fightcard.all.each do |fc| %>
        <option value="<%= fc.id %>"><%=fc.name %></option>
      <% end %>
    </select>
    <label> <%= link_to "[New Fightcard]", "/fightcards/new"%> </label>
  </div>

  <div>
    <label> Fighter 1 </label>
    <select name="fighter1_id">
      <% Fighter.all.each do |f| %>
        <option value="<%= f.id %>"><%=f.name %></option>
      <% end %>
    </select>
    <label> <%= link_to "[New Fighter]", "/fighters/new"%> </label>
  </div>

  <div>
    <label> Fighter 2 </label>
    <select name="fighter2_id">
      <% Fighter.all.each do |f| %>
        <option value="<%= f.id %>"><%=f.name %></option>
      <% end %>
    </select>
    <label> <%= link_to "[New Fighter]", "/fighters/new"%> </label>
  </div>

  <div>
    <label> Weightclass </label>
    <input type="text" name="weightclass" value="<%= @fight.weightclass%>">
  </div>
  
  <div>
    <label>Fight Number on Card</label>
    <input type="text" name="fight_num" value="<%= @fight.fight_num%>">
  </div>
  
  <div>
    <label> Card Level</label>
    <input type="text" name="card_level" value="<%= @fight.card_level%>">
  </div>
  
  <div>
    <label> Fight Time</label>
    <div>
      <label> Round </label>
      <input type="number" name="round">
      <label> Minutes </label>
      <input type="number" name="min" >
      <label> Seconds</label>
      <input type="number" name="sec" >
    </div>
  </div>

  <div>
    <label> Method of Finish</label>
    <input type="text" name="method" value="<%= @fight.method %>">
  </div>
  <input type="submit" value="Create Fight">
<% end %>
