<div class="fight">
  <h1><%= @fight.fighter_1.name%> vs. <%= @fight.fighter_2.name%>  </h1>
  <h4><%= link_to "[Edit]", "/fights/#{@fight.id}/edit" %> </h4>
  <table>
    <thead>
      <tr>
        <th> A </th>
        <th>   </th>
        <th> B </th>
      </tr>  
      <tr>
      <th width="40%"><%= @fight.fighter_1.name%> </th>
      <th width="20%"></th>
      <th width="40%"><%= @fight.fighter_2.name%> </th>
      </tr>
    </thead>
    <tbody>
      <tr> 
        <td> <%= image_tag @fight.fighter_1.picture%></td>
        <td>Tale of the Tape</td>
        <td> <%= image_tag @fight.fighter_2.picture%></td>
      </tr>
      <tr> 
        <td> <%= @fight.fighter_1.wins%></td>
        <td>Wins</td>
        <td> <%= @fight.fighter_2.wins%></td>
      </tr>
      <tr> 
        <td> <%= @fight.fighter_1.losses%></td>
        <td>Losses</td>
        <td> <%= @fight.fighter_2.losses%></td>
      </tr>
    </tbody>
  </table>

  <table>
    <thead>
      <tr>
        <th colspan="6"> Scorecard </th>
      </tr>
      <tr>
        <th width="10%"> Round </th>
        <th width="30%" colspan="2"> 
          <%=
            if @fight.judge_1 
              @fight.judge_1.name 
            end
          %> 
        </th>
        <th width="30%" colspan="2"> 
          <%=
            if @fight.judge_2 
              @fight.judge_2.name 
            end
          %>
        </th>
        <th width="30%" colspan="2"> 
          <%=
            if @fight.judge_3 
              @fight.judge_3.name 
            end
          %>
        </th>
      </tr>
      <tr>
        <th> </th>
        <th> A </th>
        <th> B </th>
        <th> A </th>
        <th> B </th>
        <th> A </th>
        <th> B </th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row"> 1 </th>
      <% if @fight.judge_1 %>
        <td><%= @fight.score_1.r1_1%></td>
        <td><%= @fight.score_1.r1_2%></td>
      <%end%>
      <% if @fight.judge_2 %>
        <td><%= @fight.score_2.r1_1%></td>
        <td><%= @fight.score_2.r1_2%></td>
      <%end%>
      <% if @fight.judge_3 %>
        <td><%= @fight.score_3.r1_1%></td>
        <td><%= @fight.score_3.r1_2%></td>
      <%end%>
    </tr>
    <tr>
      <th scope="row"> 2 </th>
      <% if @fight.judge_1 %>
        <td><%= @fight.score_1.r2_1%></td>
        <td><%= @fight.score_1.r2_2%></td>
      <%end%>
      <% if @fight.judge_2 %>
        <td><%= @fight.score_2.r2_1%></td>
        <td><%= @fight.score_2.r2_2%></td>
      <%end%>
      <% if @fight.judge_3 %>
        <td><%= @fight.score_3.r2_1%></td>
        <td><%= @fight.score_3.r2_2%></td>
      <%end%>
    </tr>
    <tr>
      <th scope="row"> 3 </th>
      <% if @fight.judge_1 %>
        <td><%= @fight.score_1.r3_1%></td>
        <td><%= @fight.score_1.r3_2%></td>
      <%end%>
      <% if @fight.judge_2 %>
        <td><%= @fight.score_2.r3_1%></td>
        <td><%= @fight.score_2.r3_2%></td>
      <%end%>
      <% if @fight.judge_3 %>
        <td><%= @fight.score_3.r3_1%></td>
        <td><%= @fight.score_3.r3_2%></td>
      <%end%>
    </tr>
    <tr>
      <th scope="row"> 4 </th>
      <% if @fight.judge_1 %>
        <td><%= @fight.score_1.r4_1%></td>
        <td><%= @fight.score_1.r4_2%></td>
      <%end%>
      <% if @fight.judge_2 %>
        <td><%= @fight.score_2.r4_1%></td>
        <td><%= @fight.score_2.r4_2%></td>
      <%end%>
      <% if @fight.judge_3 %>
        <td><%= @fight.score_3.r4_1%></td>
        <td><%= @fight.score_3.r4_2%></td>
      <%end%>
    </tr>
    <tr>
      <th scope="row"> 5 </th>
      <% if @fight.judge_1 %>
        <td><%= @fight.score_1.r5_1%></td>
        <td><%= @fight.score_1.r5_2%></td>
      <%end%>
      <% if @fight.judge_2 %>
        <td><%= @fight.score_2.r5_1%></td>
        <td><%= @fight.score_2.r5_2%></td>
      <%end%>
      <% if @fight.judge_3 %>
        <td><%= @fight.score_3.r5_1%></td>
        <td><%= @fight.score_3.r5_2%></td>
      <%end%>
    </tr>
    <tr>
      <th scope="row"> Total </th>
      <% if @fight.judge_1 %>
        <td><%= @fight.score_1.t1%></td>
        <td><%= @fight.score_1.t2%></td>
      <%end%>
      <% if @fight.judge_2 %>
        <td><%= @fight.score_2.t1%></td>
        <td><%= @fight.score_2.t2%></td>
      <%end%>
      <% if @fight.judge_3 %>
        <td><%= @fight.score_3.t1%></td>
        <td><%= @fight.score_3.t2%></td>
      <%end%>
    </tr>
    </tbody>
  </table>

</div>

